@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat',
        sans-serif;
}

body {
    background-image: linear-gradient(45deg, #234B85, rgb(107, 186, 240));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

div.container {
    box-sizing: border-box;

    position: absolute;
    width: 1297px;
    height: 725px;
    left: 311px;
    top: 108px;

    background: #FFFDFD;
    border: none;
    box-shadow: 0px 31px 37px 19px rgba(0, 0, 0, 0.25);
}


#veclogimg {
    position: absolute;
    width: 750px;
    height: 700px;
    left: 530px;
    top: 10px;
}

#welctext {
    position: absolute;
    width: 199px;
    height: 98px;
    left: 100px;
    top: 120px;
    font-family: 'Montserrat',
        sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;

    color: #000000;
}

#emailtext {
    position: absolute;
    width: 44px;
    height: 18px;
    left: 100px;
    top: 250px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

.logemail {
    box-sizing: border-box;
    position: absolute;
    width: 354px;
    height: 43px;
    left: 100px;
    top: 270px;
    /* font-size: 15px; */
    font-weight: 600;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
}

.logemail:focus {
    border: none;
    border: 2px solid #234B85;
    outline: transparent;
}

#emailtag {
    position: absolute;
    left: 100px;
    top: 320px;
    font-size: 15px;
    font-weight: 600;
}

#pass {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 100px;
    top: 355px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #000000;

}

.logpass {
    box-sizing: border-box;
    font-weight: 600;
    position: absolute;
    width: 354px;
    height: 43px;
    left: 100px;
    top: 380px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
}

.logpass:focus {
    border: none;
    border: 2px solid #234B85;
    outline: transparent;
}

#pswdtag {
    position: absolute;
    left: 100px;
    top: 425px;
    font-size: 15px;
    font-weight: 600;
    width: 500px;
}

#forgetpass {
    position: absolute;
    width: 117px;
    height: 12px;
    left: 360px;
    top: 420px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
}

.logbtn3 {
    position: absolute;
    width: 354px;
    height: 43px;
    left: 100px;
    top: 490px;
    background-color: #234B85;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.logbtn3:hover {
    color: #234B85;
    background-color: white;
    border: solid 1px #234B85;
    transition: .4s;
    font-weight: 500;
}

#loginalert {
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    color: red;
    top: 440px;
    left: 170px;
}

#createacc {
    position: absolute;
    width: 180px;
    height: 18px;
    left: 200px;
    top: 580px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

.Accbtn3 {
    position: absolute;
    width: 354px;
    height: 43px;
    left: 100px;
    top: 610px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
